/**
 * This file provides styles for the search results page (?do=search)
 * and the AJAX search popup.
 */

/* search results page
********************************************************************/
div.search {
 position: relative;
 clear: right;
 float: right;
 width: 50%;
 margin: 0.1em 0em;
 padding: 0.15em .15em 0.25em;
 background: __highlight_neu__;
 text-align: right;
}

form.search {
 display: inline;
 font-size: 0.875em;
 position: relative;
 top: 0.1em;
 right: 0.5em;
 margin-right: 0.5em;
}

#IE7 form.search {
 min-height: 1px;
 z-index: 21;
}

form.search input.edit {
 width: 18em;
 padding: .35em 22px .35em .1em;
}

[dir=rtl] form.search input.edit {
 padding: .35em .1em .35em 22px;
}

form.search input.button {
 background: transparent url(res/search.png) no-repeat 0 0;
 border-width: 0;
 width: 19px;
 height: 14px;
 text-indent: -99999px;
 margin-left: -20px;
 box-shadow: none;
 padding: 0;
}

[dir=rtl] form.search input.button {
 background-position: 5px 0;
 margin-left: 0;
 margin-right: -20px;
 position: relative;
}

form.search div.ajax_qsearch li {
 font-size: 1em;
 margin-left: 0;
 display: block;
 overflow: hidden;
 text-overflow: ellipsis;
}

/*____________ matching pagenames ____________*/
div.search_quickresult {
 margin-bottom: 1.4em;
}

div.search_quickresult h3 {
 
}

div.search_quickresult ul {
 padding: 0;
}

div.search_quickresult ul li {
 float: left;
 width: 12em;
 margin: 0 1.5em;
}

[dir=rtl] div.search_quickresult ul li {
 float: right;
}

/*____________ search results ____________*/
dl.search_results {
 margin-bottom: 1.2em;
}

/* search heading */
dl.search_results dt {
 font-weight: normal;
 margin-bottom: .2em;
}
/* search snippet */
dl.search_results dd {
 color: __text_alt__;
 background-color: inherit;
 margin: 0 0 1.2em 0;
}

/* search hit in normal text */
.search_hit {
 color: __text__;
 background-color: __highlight__;
}
/* search hit in search results */
.search_results strong.search_hit {
 font-weight: normal;
}
/* ellipsis separating snippets */
.search_results .search_sep {
 color: __text__;
 background-color: inherit;
}

/* "nothing found" at search + media */
div.nothing {
 margin-bottom: 1.4em;
}

/* AJAX quicksearch popup
********************************************************************/
form.search div.no {
 position: relative;
}

/* .JSpopup */
form.search div.ajax_qsearch {
 position: absolute;
 font-size: 0.875em;
 position: absolute;
 top: 0.1em;
 right: 0.5em;
 left: -22em;
 width: 20em;
 z-index: 20;
 text-align: left;
 display: none;
}

[dir=rtl] form.search div.ajax_qsearch {
 left: auto;
 right: 0em;
 text-align: right;
}

form.search div.ajax_qsearch strong {
 display: block;
 margin-bottom: .3em;
}

form.search div.ajax_qsearch ul {
 margin: 0 !important;
 padding: 0 !important;
}

form.search div.ajax_qsearch ul li {
 margin: 0;
 padding: 0;
 display: block !important;
}